.checkOutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkOutProduct__info {
    padding-left: 20px;
}

.checkOutProduct__info>button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    padding: 2px;
    border-color: #a99734 #9c7e31 #846a29;
    color: #111;
}

.checkOutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkOutProduct__rating {
    display: flex;
}

.checkOutProduct__title {
    font-size: 17px;
    font-weight: 800;
    width: 65%;
}